    body, html{
        margin: 0;
        padding: 0;
    }
    .all{
        width: 100%; 
        height: 100vh; 
        display: flex;
    }
        /*右邊*/
    .box_right{
        width: calc(100% - 366px);
        height: 100vh;
        display: flex;
        background-image: url('./img/背景1.jpg');
        background-size: cover;
        background-position: center;
    }
    .banner{
            width: 956px;
            height: 570px;
            margin: auto;
            background-color: black;
            display: flex;
            justify-content: space-between;
    }
    .box{
        width: 315px;
        height: 570px;
        transition: 2s;
        position: relative;
        left: 0;
    }

    .box:hover{
        opacity: 0.5;
    }
    .x{
        background-image: url('./img/後裔.jpg');
        background-size: cover;
        background-position: center ;
    }
    .y{
        background-image: url('./img/紙防子.jpeg');
        background-size: cover;
        background-position: center ;
    }
    .z{
        background-image: url('./img/絕命讀詩.jpg');
        background-size: cover;
        background-position: center ;
    }
        /*左邊*/
    .box_left{
        width: 366px;
        height: 100vh;
        background-color: brown;
    }
    .LOGO{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-top: 75px;
    }
    img{
        width:100%;
    }
    ul{
        color: white;
        list-style: none;
        margin-top: 65px;
        padding: 0;
        text-align: center;         
    }
    li{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    a:visited{
        color: rgb(255, 255, 255);
    }
    a:hover{
        color: rgb(8, 8, 8);
    }
    a:active{
        color: violet;
    }
    @media screen and (max-width:1280px){
        .banner{
            width: 800px;
            flex-wrap: wrap;
        }
        .x {
            width: 100%;
            height: 285px;
        }
        .y {
            width: 50%;
            height: 275px;
        }
        .z {
            width: 50%;
            height: 275px;
        }
    }
    @media screen and (max-width:768px){
        .all{
            margin: auto;
            display: block;
        }
            /*右邊*/
        .box_right{
            width: 100%;
            height: calc(100% - 100px);
        }
        .banner{
            width: 700px;
            height: 100%;
        }
        .x{
            width: 100%;
            height: 50%;
        }
        .y{
            width: 50%;
            height: 50%;
        }
        .z{
            width: 50%;
            height: 50%;
        }
            /*左邊*/
        .box_left{
            width: 100%;
            height: 100px;
            display: flex;
        }
        .LOGO{
            width: 80px;
            height: 80px;
            margin-left: 34px;
            margin-top: 10px;
        }
        .link{
            margin: auto 0;
            margin-left: auto;   
        }
        ul{
            display: flex;
            margin-top: 0px;
            margin-bottom: 0px;
 
        }
        li{
            margin: 25px;
        }
        a{
            text-decoration: none;
        }
    }
    @media screen and (max-width:375px){ 
        .box_left{
            position: relative;          
        }
        .box_right{
            width: 375px;
            height: 588px;
        }
        .banner{
            width: 375px;
            box-sizing: border-box;
        } 
        .y, .z{
             width: 100%;
        }
        .x, .y, .z{
            height: 33.33%;
        }
        .link{
            width: 50px;
            height: 50px;
            margin: auto 0px;
            margin-left: 30px;
            background-color: ivory;
            position: relative;
        }
        ul{
            display: block;
            position: absolute;
            top:0;
            left: -300px;
            transition: 2s;

        }
        .link:hover ul{
            top: 50px;
        }
        .LOGO{
            position: absolute;
            left: calc(50% - 40px);
            margin-left: 0px;
        }
    }